:root {
    --md-primary-fg-color: #a6d8ba;
    --md-primary-fg-color--light: #A6D8BA;
    --md-primary-fg-color--dark: #A6D8BA;
    --md-primary-bg-color: #45546a;
    --md-primary-bg-color--light: #45546a;
    --md-primary-bg-color--dark: #45546a;
    --md-accent-fg-color: #ada6d8;
    --md-accent-fg-color--light: #368a57;
    --md-accent-fg-color--dark: #368a57;
}
.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}
.video-wrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.youtube {
    color: #EE0F0F;
}
.insta {
    color: #E1306C;
}
.reddit {
    color: #FF4500;
}